<!DOCTYPE html>
<html>
    <head>
        <title>Artemon's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Artemon's blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Chapter 1</a></h2>
            <h3>Where the story begins...</h3>
            <p>So this is where the story begins.<br>
            I'm trying to learn <strong><em>Django</em></strong> and some web-development stuff with this blog.<br></p>
        </article>
        
        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">So what's the plan?</a></h2>
            <ul>
                <li>get some django skills</li>
                <li>get a job</li>
                <li>???????</li>
                <li>PROFIT</li>
            </ul>
        </article>
    </body>

</html>